@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, footer {background-color: black;}

/*      RCap Space Report | In-House CSS */
.default-padding {
    padding: 5rem 0 5rem 0;
    margin: 0 auto 0 auto;
    max-width: 90%;
}

.font-roboto {
    font-family: 'Roboto Flex', sans-serif;    
}
body {
    font-family: 'Roboto Flex', sans-serif !important;
}

.overlay {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
    left: 0;
    z-index: 60;
}

section {
    width: 100vw !important;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh !important;
    position: relative;
    z-index: 40;
    background-color: black;
    color: white;
    padding: 5rem 0 5rem 0;
}
.section-bg {
    width: 100vw !important;
    min-height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

/* Nav Styling */
.nav-container {
    position: fixed;
    width: 100vw !important;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: black;
    color: white;
}

.nav-container .logo {
    max-width: 60px;
}

.nav-container .nav-links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.5);
    @apply p-4 md:p-10 text-center md:text-left;
}

.text-block.apollo {
    @apply h-fit min-w-full md:min-w-[500px] md:max-w-[600px] text-center flex flex-col gap-4 md:hover:scale-110;
}

.text-block p {
    @apply text-justify;
}

.text-block .caption {
    @apply italic font-[300];
}


.text-block .header {
    @apply text-4xl md:text-6xl uppercase font-[800] mb-6;
}

.text-block .subheader {
    @apply text-2xl md:text-4xl uppercase font-[700];
}
.text-block .miniheader {
    @apply text-xl uppercase font-[600] opacity-[0.7];
}

.shuttle .text-block.alter {
    @apply !bg-white bg-opacity-[0.4] !text-black;
}

.shuttle .text-block p {
    @apply font-[500];
}

.shuttle .text-block {
    @apply bg-black text-white gap-5;
}

.corner {
    @apply aspect-square w-[10%] absolute border-2 border-black;
}

.corner.shorter {
    @apply !w-[5%]
}

.corner-tl {
    @apply border-r-0 border-b-0 top-[-10px] left-[-10px];
}

.corner-tr {
    @apply border-l-0 border-b-0 top-[-10px] right-[-10px];
}

.corner-bl {
    @apply border-r-0 border-t-0 bottom-[-10px] left-[-10px];
}

.corner-br {
    @apply border-l-0 border-t-0 bottom-[-10px] right-[-10px];
}

.sat-status {
    @apply col-span-1;
}

.sat-company {
    @apply col-span-3;
}
.sat-desc {
    @apply col-span-6
}

.sat-header {
    @apply text-center text-2xl font-[600];
}

.report-input {
    @apply col-span-1 bg-transparent border-b border-white font-roboto text-white outline-0 py-2 pl-1;
}

button.black-b {
    @apply bg-transparent border border-white px-4 py-3;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 0.8s linear infinite;
    -moz-animation: rotating 0.8s linear infinite;
    -ms-animation: rotating 0.8s linear infinite;
    -o-animation: rotating 0.8s linear infinite;
    animation: rotating 0.8s linear infinite;
  }